params {
    base_folder = "EGEP_Test_Data"
    in_genus = "In-Genus_Not_Provided"
    out_genus = "Out-Genus_Not_Provided" // shared_tree.nf ONLY
    out_dir = "Unspecified-Genes"
    ram_gb = 8
    cpu_threads = 1
    output_dir = "EGEP_exonerate_clinker"
    organism_kingdom = null
    compleasm_list = "eukaryota" // shared_tree.nf ONLY
    overlap_threshold = 0.3 // shared_tree.nf ONLY
    primary_genes = null // exonerate_clinker.nf ONLY
    secondary_genes = null // exonerate_clinker.nf ONLY
    data_type = "aa" // exonerate_clinker.nf ONLY
    genes_fasta = null // exonerate_clinker.nf ONLY
    exonerate_pid = 0.2 // exonerate_clinker.nf ONLY
    clinker_pid = 0.3 // exonerate_clinker.nf ONLY
    max_intron = 2000 // exonerate_clinker.nf ONLY
    max_trimmed_length = 10000 // exonerate_clinker.nf ONLY
}

process {
    cpus = params.cpu_threads
    memory = "${params.ram_gb} GB"
    executor = 'local'
    container = '/bin/entheome.sif'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /mnt/d:/mnt/d'  // CHANGE THIS IF YOU HAVE DIFFERENT DRIVE NAME CONTAINING DATA
}

profiles {
    local {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
    }
    singularity {
        process.executor = 'local'
    }
}
