params {
    no_file = "$projectDir/assets/NO_FILE"
    base_folder = "/mnt/d/TESTING_SPACE/EGEP_Test_Data"
    in_genus = "Psilocybe"
    out_genus = "Agrocybe" // shared_tree.nf ONLY
    out_dir = "EGEP_shared_tree"
    data_type = "aa"
    ram_gb = 47
    cpu_threads = 10
    output_dir = null
    organism_kingdom = "Funga"
    compleasm_list = "basidiomycota,agaricales" // shared_tree.nf ONLY
    overlap_threshold = 0.3 // shared_tree.nf ONLY
    primary_genes = "P0DPA9,P0DPA8,P0DPB2,P0DPA6" // exonerate_clinker.nf ONLY
    secondary_genes = "P0DPB1,P0DPA7,QGJ16928,P0DPA8" // exonerate_clinker.nf ONLY
    genes_fasta = "/mnt/d/TESTING_SPACE/psilocybe_psi-cluster_aa.fasta" // exonerate_clinker.nf ONLY
    exonerate_pid = 0.2 // exonerate_clinker.nf ONLY
    clinker_pid = 0.3 // exonerate_clinker.nf ONLY
    max_intron = 200 // exonerate_clinker.nf ONLY
    max_trimmed_length = 5000 // exonerate_clinker.nf ONLY
}

process {
    cpus = params.cpu_threads
    memory = "${params.ram_gb} GB"
    executor = 'local'
    container = '/bin/entheome.sif'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /mnt/d:/mnt/d'  // CHANGE THIS IF YOU HAVE DIFFERENT DRIVE NAME CONTAINING DATA
}

profiles {
    local {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
    }
    singularity {
        process.executor = 'local'
    }
}
